<div style="width: @(1280*Scale);height: @(256*Scale);">
    @for (int i = 0; i < 5; i++)
    {
        if (i < Rate)
        {
            <img src="images/active-star.png" width="@(256*Scale)" height="@(256*Scale)" />
        }
        else
        {
            <img src="images/disable-star.png" width="@(256*Scale)" height="@(256*Scale)" />
        }
    }
</div>

@code {
    [Parameter]
    public double Scale { get; set; } = 1;
    [Parameter]
    public int Rate { get; set; } = 1;
}
